body {
    margin: 0; 
    padding: 0;
}  

.header {
    display: flex;  
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;
    width: 100%; 
    height: 60px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: cadetblue; 
    text-decoration: none;  
    color: white;
    background-color: cadetblue;
}   

#link {
    padding: 10px 40px;
}

#link:hover {
    color: white; 
    padding: 10px 40px;  
    border-radius: 30px;
    background-color: white;
    color: cadetblue;
}


a {
    color: white; 
    text-decoration: none; 
    margin: 0; 
    padding: 0;
}

.weather_area {
    width: 100%;  
    height: 560px;
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    font-size: 18px;
}  

.weather_area_item_tep { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 36px;
    padding: 10px; 
    color: cadetblue;
}

.weather_area_item {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: cadetblue; 
    padding: 10px; 
    margin: 0;
} 

p {
    margin: 0; 
    padding: 0;
} 

footer {
    width: 100%; 
    height: 70px;
    background-color: cadetblue; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: white;
}