<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <link rel="stylesheet" type="text/css" href="about.css">
    <title>Document</title>
</head>
    <body>  
        <div class="header">  
            <div class=header_item>  
                <a href="/about">About</a>
            </div> 

            <div class="header_item"> 
                <h1 class="header_item_one">Simple Weather</h1>
            </div>  

            <div class="header_item"> 
                <a href="/new">Weather</a>
            </div>
        </div>
        <div class="about_page"> 
            <div class="about_page_item"> 
                <h3>About Page</h3> 
                <p>Welcome to this simple weather app.  Where you can find out what the weather is like in any part of the UK, this includes regions, counties and cities.</p>
            </div> 
        </div> 
        <footer>  
            <p>Created by Benedict Lawrence</p>
        </footer>
    </body>
</html>